

body{
    background-color:rgb(97, 205, 97); 
    background-image: url('contact.jpg');
    background-size:cover;
    height:auto;
}
h1{
    
    text-decoration:underline;
    font-family:Arial;
    font-size: 25px;
    font-weight: 100;
    color: rgb(31, 31, 149);
}
.main{
    background-color: aqua;
    background-size:cover;
    width:100%;
    height:100vh;
    display:flex;

}
.left{
    width:50%;
    height:auto;
    padding:20px;
    align-items: flex-start;
    display:flex;
    flex-direction: column;

}
hr{
    background-color: black;
    width:30%;
    height: 5px;
}
.right{
    width:50%;
    height:auto;

}
.input{
    width:80%;
}